__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

.env
.venv/
venv/
.git/
temp_audio/
# Exclude raw source data but keep the built FAISS knowledge bases
data/cho/
data/chew/
data/medical/
data/source_documents/
# guidelines_index.faiss
# *.faiss
*.mp3
*.wav
*.zip
*.tar.gz
*.ipynb
